@import "normalize.css/normalize.css";

:root 
{
    --header: #D4A373;
    --sidebar: #FAEDCD;
    --content: #FEFAE0;
}

body
{
    background-color: var(--sidebar);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    background-color: var(--header);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input
{
    height: 2rem;
    width: auto;
    border: none;
    outline: none;
}

button
{
    background-color: var(--sidebar);
    border: none;
}

#search-button
{
    height: auto;
    width: auto;
    background-color: white;
}

#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

img>#condition-icon
{
    width: 1rem;
    height: auto;
}

#content
{
    width: auto;
    height: auto;
    padding: 1rem;
    border-style: solid;
    border-color: var(--header);
    background-color: var(--content);
    display: flex;
    flex-direction: column;
}

#current
{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#current>#condition
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#current>#stats
{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}