body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 20rem;
    height: 25rem;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
    background-color: black;
}

#display
{
    grid-column: 1 / -1;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2rem;
    margin: 0.2rem;
}

#nine, #eight, #seven, #six, #five, #four, #three, #two, #one, #null
{
    background-color: lightblue;
}

#null
{
    grid-column: span 3;
}