:root 
{
    --light: #CBE4DE;
    --dark: #0E8388;
    --black: #2E4F4F;
}

body
{
    background-color: var(--dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2
{
    font-size: 4vw;
}

h3
{
    font-size: 2vw;
}

button
{
    font-family: inherit;
}

.selection, .container
{
    width: fit-content;
    padding: 10px 50px;
    border-radius: 0.5rem;
    font-size: 30px;
    background-color: var(--light);
}

#switch, #play-button, select, #restart, b
{
    font-size: 2.5vh;
}

.containers
{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content
{
    display: grid;
    height: 20rem;
    width: 20rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    margin: 10px 0px;
    background-color: var(--dark);
}

.container>.content>button
{
    width: auto;
    height: auto;
    font-size: 5rem;
}

.inactive, #inactive
{
    display: none;
}

#myForm>h2, .optionsButtons, #switchBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input
{
    font-size: 20px;
    width: 100%;
    border-radius: 0.5rem;
    border-color: var(--black);
}

.notifications 
{
    position: fixed;
    top: 30px;
    right: 20px;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}
.notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
    background-color: var(--light);
}
@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}
  
@media only screen and (max-width: 768px) {
    .selection, .container
    {
        padding: 10px 30px;
    }
    h2
    {
        font-size: 7vh;
    }

    h3
    {
        font-size: 3.5vh;
    }
    .content
    {
        height: 15rem;
        width: 15rem;
    }
    .container>.content>button
    {
        width: auto;
        height: auto;
        font-size: 3rem;
    }
    .notifications 
    {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .notifications .toast 
    {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }
}