:root 
{
    --sideContent: #b8b8ff;
    --content: #9381ff;
    --text: #f8f7ff;
}

body
{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--content);
    color: var(--text);
}

.content
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.card
{
    background-color: var(--sideContent);
    padding: 10px;
    width: 300px;
    height: 300px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button
{
    border: none;
}

.remove-button > button
{
    background-color: var(--sideContent);
}

.remove-button
{
    display: flex;
    justify-content: flex-end;
}

.is-read-button
{
    display: flex;
    justify-content: center;
}

.card-content
{
    word-wrap: break-word;
    height: 80%
}