body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container
{
    padding: 2rem;
    gap: 2rem;
}

.container, .answer, .score
{
    display: flex;
    justify-content: center;
}

.answer
{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

h2
{
    padding-bottom: 2rem;
}

#result
{
    padding-bottom: 3rem;
}

.content, h2, h3
{
    text-align: center;
}

.container > button
{
    border: none;
    background-color: white;
}

img
{
    width: 8rem;
    height: auto;
}